@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  border: 1px solid #000;
  background-color: #000;
  text-align: center;
  color: #fff;
  width: 50%;
  height: 300px;
  margin: 0 auto;
  display: flex;
}

.item > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  height: 100%;
}

.owl-carousel {
  width: 75%;
  margin: 0 auto;
}

.owl-prev,
.owl-next {
  width: 20px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
}
.owl-prev {
  left: 10%;
}
.owl-next {
  right: 10%;
}
